.App {
  text-align: center;
}

.App-header {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 20px 40px;
}
